<button class="ui button fluid tiny" type="button" (click)="openCategoryList()">
  <span *ngIf="!categoryTitle">Select Category</span>  
  <span *ngIf="categoryTitle">{{categoryTitle}}</span>
</button>
<div class="ui basic modal">
  <div class="content">
    <div class="ui middle aligned selection inverted">
      <app-categories-list class="ui list inverted" [wallet]="wallet" (selectedCategory)="onSelectedCategory($event)"></app-categories-list>
    </div>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i> Cancel
    </div>
  </div>
</div>