<ul id="slide-out" class="side-nav">
  <li>
    <div class="userView">
      <div class="background valign-wrapper">
        <img src="/assets/sidebar-bg.jpg" class="responsive-img valign">
      </div>
      <div>
        <a href="#!user">
          <img class="circle" src="/assets/ava.jpg">
        </a>
        <a href="#!name">
          <span class="white-text name">
            Deikun Family
          </span>
        </a>
      </div>
    </div>
  </li>
  <li>
    <a href="#!">
      <i class="material-icons green-text">call_made</i> <strong>Income Statistics</strong>
    </a>
  </li>
  <li>
    <a href="#!">
      <i class="material-icons red-text">call_received</i> <strong>Outcome Statistics</strong>
    </a>
  </li>
  <li>
    <a href="#!">
      <i class="material-icons">settings</i> <strong>Manage Settings</strong>
    </a>
  </li>
</ul>
