button {
    border: 0;    
}             

.inverted.ui.menu button.item:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0;    
    transition: all 0.314s;
}  

.inverted.ui.menu button.item.active:focus {
    box-shadow: inset 0px -5000px 0px 0px rgba(0,0,0,0.3);
}
.inverted.ui.menu button.item:focus {
    box-shadow: inset 0px -5000px 0px 0px rgba(255,255,255,0.3);
}   

.menu {
    border-radius: 0;
}