<form class="ui form" [formGroup]="shareWalletForm" (ngSubmit)="shareWallet(shareWalletForm)">
  <input type="hidden" formControlName="wallet">
  <div class="ui grid vertically padded">
    <div class="row">
      <div class="ten wide column middle aligned">
        <div class="ui search">
          <div class="ui left icon input fluid">
            <input class="prompt" type="text" placeholder="email" formControlName="email">
            <i class="map envelope icon"></i>
          </div>
        </div>
      </div>
      <div class="six wide column">
        <button [disabled]="!shareWalletForm.valid" class="positive ui button fluid" type="submit" name="action">
          Share
        </button>
      </div>
    </div>
  </div>
</form>