.z-padding-row .row {
  padding-top: 8px;
  padding-bottom: 8px;
}

.z-disable-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.z-disable-padding button {
  margin-right: 0 !important;
}