<form class="ui tiny form" [formGroup]="cashFlowForm" (ngSubmit)="onSubmit(cashFlowForm)">
  <div class="">
    <!--<a class="ui red ribbon label">Any Updates?</a>-->
    <div class="ui grid vertically padded">
      <div class="row">
        <div class="eight wide column">
          <div class="ui fluid buttons tiny">
            <button class="ui button" type="button" [ngClass]="{'active green': cashFlowForm.value.type == 'income'}" (click)="cashFlowFormService.changeCashFlowForm('type', 'income')">Income</button>
            <button class="ui button" type="button" [ngClass]="{'active green': cashFlowForm.value.type == 'expence'}" (click)="cashFlowFormService.changeCashFlowForm('type', 'expence')">Expences</button>
          </div>
        </div>
        <div class="eight wide column">
          <button class="ui button fluid tiny" type="button" (click)="onSelectCategory()">
            <span *ngIf='!cashFlowForm.value.category'>Select Category</span>
            <span *ngIf='cashFlowForm.value.category'>{{cashFlowForm.value.category}}</span>
          </button>
          <input type="hidden" formControlName="category">
        </div>
      </div>
      <div class="row z-padding-row">
        <div class="nine wide column">
          <div class="field">
            <div class="ui fluid right labeled input">
              <input type="number" formControlName="amount" placeholder="Enter Amount">
              <div class="ui basic label">UAH</div>
            </div>
          </div>
        </div>
        <div class="seven wide column middle aligned">
          <div class="field">
            <div class="ui left icon transparent input small">
              <input type="date" class="datepicker" formControlName="date">
              <i class="calendar icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="eight wide column middle aligned">
          <div class="ui search">
            <div class="ui left icon input fluid">
              <input class="prompt" type="text" placeholder="Location">
              <i class="map outline icon"></i>
            </div>
          </div>
        </div>
        <div class="eight wide column">
          <button [disabled]="!cashFlowForm.valid" class="positive ui button fluid" type="submit" name="action">
            Confirm
          </button>
        </div>
      </div>
      <app-category-editor [categoryForm]="cashFlowForm"></app-category-editor>
    </div>
  </div>
</form>