<form class="card" materialize (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <div class="card-image">
    <img src="/assets/sidebar-bg.jpg">
    <span class="card-title">Any Updates?</span>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col s5">
        <div class="input-field">
          <select id="optionsFlowType" name="optionsFlowType">
            <option value="" disabled selected>Choose your option</option>
            <option *ngFor="let option of optionsFlowType | async" [value]="option['$key']">
              {{option['$key']}}
            </option>
          </select>
          <label>Flow Type</label>
        </div>
      </div>
      <div class="col s7">
        <label style="opacity: 0">Test</label>
        <button class="btn waves-effect waves-light grey lighten-1 btn-block" data-target="modal1" type="submit" name="action">
          <small>Select Category</small>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="input-field s6 col">
        <input placeholder="Input cash" id="amount" type="number" name="amount" class="validate" [(ngModel)]="addCashFlow.amount" >
        <label for="amount">Amount</label>
      </div>
      <div class="input-field s6 col">
        <select id="optionsCurrency" name="optionsCurrency">
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let option of optionsCurrency | async" [value]="option['$key']">
            {{option['$key']}}
          </option>
        </select>
        <label>Currency</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field s12 col">
        <input id="date" type="date" name="date" class="validate active" [(ngModel)]="addCashFlow.date" >
        <label for="date" class="active">Date</label>
      </div>
    </div>

    <div class="">
      <!-- Modal Structure -->
      <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
          <div class="collection">
            <div class="collection-item modal-close"
                 *ngFor="let option of optionsCategory | async"
                 [ngClass]="{'active': option == addCashFlow['category']}"
                 (click) = "addCashFlow['category'] = option">
              <i class="material-icons left">done</i>
              {{option['$key']}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <button class="btn waves-effect waves-light btn-block" type="submit" name="action">
        Confirm <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</form>
