.card-title {
  margin-bottom: 0;
  margin-top: 0;
}

.btn-block {
  width: 100%;
}

.row {
  margin-bottom: 0;
}

.collection-item.active .material-icons {
  opacity: 1;
}

.collection-item:not(.active) .material-icons {
  opacity: 0.4;
  color: gray !important;

}

.card-title {
  background-color: rgba(0,0,0,0.5);

}


.modal.bottom-sheet {
  min-height: 80%;
}
