<div class="ui feed">
  <!-- Event -->
  <div class="event">
    <div class="label">
      <i class="inverted orange car icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        Petrol Station
        <span class="ui red basic label ft-amount">- 30$</span>
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        Refueled KIA Sportage for 50 liters
      </div>
      <div class="meta">
        <a class="">
          <i class="marker icon"></i> WOG on Bazhana Avenue
        </a>
        <a class="like">
            <i class="like icon"></i> 1 Like
        </a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <i class="inverted orange shopping basket icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        Groceries
        <span class="ui red basic label ft-amount">- 30$</span>
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        Snacks for friends meeting
      </div>
      <div class="meta">
        <a class="">
          <i class="marker icon"></i> Novus on Chavdar
        </a>
        <!--<a class="like">
            <i class="like icon"></i> 0 Like
        </a>-->
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <i class="inverted orange travel icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        Travels
        <span class="ui red basic label ft-amount">- 30$</span>
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        Tickets to Roma for Wedding Anniversary
      </div>
      <div class="meta">
        <a class="">
          <i class="marker icon"></i> МАУ
        </a>
        <a class="like">
            <i class="like icon"></i> 1 Like
        </a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <i class="inverted orange soccer icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        Sport
        <span class="ui red basic label ft-amount">- 30$</span>
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        Tennis individual trainning
      </div>
      <div class="meta">
        <a class="">
          <i class="marker icon"></i> Tennis Evolution
        </a>
        <a class="like">
            <i class="like icon"></i> 1 Like
        </a>
      </div>
    </div>
  </div>
</div>