<div class="ui feed">
  <!-- Event -->
  <div class="event">
    <div class="label">
      <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/980144_10207125209302802_5194934982306209420_o.jpg?oh=f50465fca12f3151489a7b49075e9458&oe=594ECBEE">
    </div>
    <div class="content">
      <div class="summary">
        <a>Artem</a> tracked expences
        <span class="ui red small basic label">30$</span>
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        Refueled KIA Sportage for 50 liters
      </div>
      <div class="meta">
        <a class="">
          <i class="car icon"></i> Petrol Station
        </a>
        <a class="">
          <i class="marker icon"></i> WOG on Bazhana Avenue
        </a>
      </div>
    </div>
  </div>
  <!-- Event -->
  <div class="event">
    <div class="label">
      <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/980144_10207125209302802_5194934982306209420_o.jpg?oh=f50465fca12f3151489a7b49075e9458&oe=594ECBEE">
    </div>
    <div class="content">
      <div class="summary">
        <a>Artem</a> tracked expences
        <span class="ui red small basic label">28$</span>
        <div class="date">
          4 days ago
        </div>
      </div>
      <div class="meta">
        <a class="">
          <i class="shopping basket icon"></i> Groceries
        </a>
        <a class="">
          <i class="marker icon"></i> METRO on Grygorenka
        </a>
      </div>
    </div>
  </div>
  <!-- Event -->
  <div class="event">
    <div class="label">
      <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/980144_10207125209302802_5194934982306209420_o.jpg?oh=f50465fca12f3151489a7b49075e9458&oe=594ECBEE">
    </div>
    <div class="content">
      <div class="summary">
        <a>Artem</a> tracked income
        <span class="ui green small basic label">100$</span>
        <div class="date">
          4 days ago
        </div>
      </div>
      <div class="extra text">
        Refueled KIA Sportage for 50 liters
      </div>
      <div class="meta">
        <a class="">
          <i class="car icon"></i> Petrol Station
        </a>
        <a class="">
          <i class="marker icon"></i> WOG on Bazhana Avenue
        </a>
      </div>
    </div>
  </div>
</div>